body {
    font-family: 'Raleway', sans-serif;
    background: url('../img/beach-photo.jpeg') no-repeat fixed;
    background-size: cover;
}

a {
    color: white;
    font-weight: bold;
    transition: all .3s;
}

a:hover {
    text-decoration: none;
    color: cyan;
    transition: all .3s;
}

.error {
    margin-top: 44px;
    color: red;
    font-weight: bold;
}

.panel {
    background-color: rgba(0, 0, 0, 0.5);
}

.panel-info > .panel-heading {
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-color {
    min-height: 690px;
    background-color: rgba(0, 0, 0, 0.5); 
}

.panel-title {
    font-size: 3em;
    color: cyan;
    font-weight: bold;
}

.panel-title-span {
    color: white;
}

.login-remember {
    font-weight: bold;
    color: white;
}

.accQuestion {
    color: cyan;
}

.text-center {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
}
