<?php


$dsn= 'mysql:host=localhost;dbname=HostHelper;port=3306';

$username='username';

$password='password';

try {
    $db=new PDO($dsn,$username,$password);
} catch (\Throwable $th) {
    echo "no se pudo establecer una conexion a la base de datos";
}