@media screen and (min-width: 360px) {

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      background-image: url(../img/nocturno.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100%;
      font-family: 'Raleway', sans-serif;
    }

    h2 {
      font-weight: bold;
    }

      /* ONLY NAVBAR CONFIG */

      header {
          width: 100%;
        }

      .icon {
        color: white;
      }

      .menu_bar {
          display: block;
          width: 100%;
        }

      .menu_bar .bt-menu {
          display:block;
          padding: 20px;
          background: rgba(0, 0, 0, 0.5);
          text-decoration: none;
          font-weight: bold;
          font-size: 25px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          color: white;
          font-family: 'Luckiest Guy', sans-serif;
        }

      .menu_bar span {
            float: right;
            font-size: 30px;
          }


      header nav {
        width: 100%;
        min-width: 360px;
        max-height: 812px;
        background: rgba(0, 0, 0, 1);
        width: 50vw;
        height: 71vh;
        margin: 0;
        position: absolute;
      }

      header nav ul {
          overflow: hidden;
          list-style: none;
        }

      header nav ul li {
          display: block;
          float: none;
          border-bottom: 1px solid #E56B70;
          padding: 20px;
        }

      header nav ul li:hover {
          background: #E56B70;
        }

      header nav ul li a {
        padding: 20px;
        color: white;
        text-decoration: none;
        display: inline-block;
        font-family: 'Raleway', sans-serif;
      }

      header nav ul li a span {
        margin-right: 10px;
        color: white;
      }

      header nav ul li a:hover  {
        text-decoration: none;
        color: #40376e;
      }

      /* CONFIG DEL FORMULARIO */

      .contactIcon {
        font-size: 2em;
        display: flex;
        justify-content: center;
        margin-top: 18px;
        margin-bottom: 6px;
        color: #E56B70;
        text-shadow: 1px 1px black;
      }

      .titulo {
        display: flex;
        justify-content: center;
        color: #E56B70;
        text-shadow: 1px 1px black;
      }

      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      input {
        background: #c8e0f4;
        width: 82.5vw;
        padding: 6px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 0.5px #CE5937;
        display: flex;
      }

      input[placeholder] {
        font-family: 'Raleway', sans-serif;
        color: black;
      }

      input:focus {
        box-shadow: 1px 1px 5px 0.5px #9dd1f1;
      }

      .textarea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1.3em;
      }

      .textarea textarea {
        background: #c8e0f4;
        width: 82.5vw;
        height: 17.3vh;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 0.5px #CE5937;
      }

      textarea:focus {
        box-shadow: 1px 1px 5px 0.5px #9dd1f1;
      }

      .consultalabel {
        font-size: 1.2em;
        font-weight: bold;
        color: #E56B70;
        text-shadow: 1px 1px black;
      }

      .boton {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      button {
        width: 82.5vw;
        height: 6vh;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        font-size: 1.2em;
        border-radius: 15px;
        padding: 3px;
        font-weight: lighter;
        border-color: #E56B70;
        text-decoration: none;
        margin: 12px 0;
        box-shadow: 1px 1px 5px 0.5px #E56B70;
      }

      button:hover {
        background: rgba(0, 0, 0, 0.5);
        border-color: #7ecc26;
      }

      .labeldelEmail {
        display: flex;
        justify-content: center;
        font-size: 1em;
        font-weight: bold;
        color: #E56B70;
        text-shadow: 1px 1px black;
      }

      /* FOOTER */

      .iconoEmail {
        display: flex;
        justify-content: center;
        font-size: 2.3em;
        font-weight: bold;
        width: 100vw;
        padding: 0;
      }

      .iconoEmail a {
        color: #E56B70;
        text-shadow: 1px 1px black;
        text-decoration: none;
      }

}

/* IPAD, PAD DEVICES */

@media screen and (min-width: 768px) {

  .contactIcon {
    font-size: 3em;
  }

  .titulo h2 {
    font-size: 3em;
  }

  button {
    height: 5vh;
  }

  .labeldelEmail {
    margin-top: 3em;
    font-size: 1.3em;
  }

  .iconoEmail {
    font-size: 3.5em;
  }

  header nav {
    width: 50vw;
    height: 51.3vh;
  }

}

/* DESKTOP DEVICES */

@media screen and (min-width: 1200px) {

  body {
    height: 100%;
  }

  .contactIcon {
    font-size: 4em;
  }

  .titulo h2 {
    font-size: 4em;
  }

  button {
    height: 6vh;
  }

  header nav {
    width: 50vw;
    height: 75.7vh;
  }

  .labeldelEmail {
    margin-top: 1em;
    font-size: 1.3em;
  }

}
