@media screen and (min-width: 360px) {

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      }

  body {
        background-image: url(../img/nocturno.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        font-family: 'Raleway', sans-serif;
        color: white;
      }

  h2 {
    font-weight: bold;
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

      /* ONLY NAVBAR CONFIG */

      header {
          width: 100%;
        }

      .icon {
        color: white;
      }

      .menu_bar {
          display: block;
          width: 100%;
        }

      .menu_bar .bt-menu {
          display: block;
          padding: 20px;
          background: rgba(0, 0, 0, 0.5);
          text-decoration: none;
          font-weight: bold;
          font-size: 25px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          color: #E56B70;
          font-family: 'Luckiest Guy', sans-serif;
        }

      .menu_bar span {
            float: right;
            font-size: 30px;
          }

      header nav {
        width: 90%;
        min-width: 360px;
        background: rgba(0, 0, 0, 1);
        width: 50vw;
        height: 71vh;
        margin: 0;
        position: absolute;
      }

      header nav ul {
          overflow: hidden;
          list-style: none;
        }

      header nav ul li {
          display: block;
          float: none;
          border-bottom: 1px solid #E56B70;
          padding: 20px;
        }

      header nav ul li:hover {
          background: #E56B70;
        }

      header nav ul li a {
        padding: 20px;
        color: white;
        text-decoration: none;
        display: inline-block;
        font-family: 'Raleway', sans-serif;
      }

      header nav ul li a span {
        margin-right: 10px;
        color: white;
      }

      header nav ul li a:hover  {
        text-decoration: none;
        color: #40376e;
      }

      /* FORM CONFIG */

      .cardIcon {
        font-size: 2em;
        display: flex;
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 6px;
        color: #E56B70;
        text-shadow: 1px 1px black;
      }

      .titulo {
        margin-top: 0.5em;
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        color: #E56B70;
        text-shadow: 1px 1px black;
      }

      .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      input {
        background: #c8e0f4;
        width: 82.5vw;
        padding: 6px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 0.5px #CE5937;
        display: flex;
      }

      input[placeholder] {
        font-family: 'Raleway', sans-serif;
        color: black;
      }

      input[type=file] {
        color: black;
      }

      input:focus {
        box-shadow: 1px 1px 5px 0.5px #9dd1f1;
      }

      .botones {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 36px 0;
      }

      .botones button a {
        text-decoration: none;
        color: white;
      }

      button {
        width: 82.5vw;
        height: 6vh;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        font-size: 1.2em;
        border-radius: 15px;
        padding: 3px;
        font-weight: lighter;
        border-color: #7ecc26;
        text-decoration: none;
        margin: 5px 0;
        box-shadow: 1px 1px 5px 0.5px #7ecc26;
      }

      .bregister {
        border-color: #d8171e;
        box-shadow: 1px 1px 5px 0.5px #d8171e;
      }

      button:hover {
        background: rgba(0, 0, 0, 0.5);
      }
}

/* IPAD, PAD DEVICES */

@media screen and (min-width: 768px) {

  .cardIcon {
    font-size: 3em;
  }

  .titulo h2 {
    font-size: 1.8em;
  }

  button {
    height: 5vh;
  }

  header nav {
    width: 50vw;
    height: 51.3vh;
  }

}

/* DESKTOP DEVICES */

@media screen and (min-width: 1200px) {

  button {
    height: 6vh;
  }

  header nav {
    width: 50vw;
    height: 75.7vh;
  }

}
