
@media (min-width: 360px){

  /* ONLY NAVBAR CONFIG */

    * {
    margin: 0px;
    padding: 0px;
    }

  body {
    background-image: url("../img/white-wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Raleway', sans-serif;
  }
  header{
      width:100%;

    }

    .menu_bar{
        display:block;
        width: 100%;

      }

    .menu_bar .bt-menu{
        display:block;
        padding:20px;
        background-color: black;
        text-decoration: none;
        font-weight:bold;
        font-size: 25px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        color:white;
        font-family: 'Luckiest Guy', sans-serif;

        }
    .menu_bar span{
          float: right;
          font-size: 30px;


        }

  header nav {
    width:80%;
    min-width: 360px;
    background:black;
    height: 68%;
    margin: 0;
    position:absolute;
    }



  header nav ul{
      overflow: hidden;
      list-style: none;

    }

    header nav ul li{
        display:block;
        float: none;
        border-bottom:1px solid rgba(255,255,255,0.3);
        padding: 20px;
      }

    header nav ul li:hover{
        background:#E56B70;
        }

    header nav ul li a {
      padding: 20px;
      color: white;
      text-decoration: none;
      display: inline-block;
      font-family: 'Raleway', sans-serif;
    }

    header nav ul li a span{
      margin-right: 10px;
      color: white;
    }

    .icon{
        color: white;
    }



    /*imagen de perfil*/

    .container-img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }


    .imagen-perfil{
        border-radius: 100%;
        width: 200px;
        height: 200px;
        border: 1px black solid;
    }

    /* Datos Personales*/

    .datos-personales{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .datos-personales h2{
        margin-bottom: 15px;
    }

    .datos-personales p{
        margin-left: 7px;
    }

    /* Puntuacion de usuario*/

    #form {
        width: 250px;
        margin: 0 auto;
        height: 50px;
      }

      #form p {
        text-align: center;
      }

      #form label {
        font-size: 20px;
      }

    input[type="radio"] {
        display: none;
      }

    label {
        color: grey;

      }

    .clasificacion {
        direction: rtl;
        unicode-bidi: bidi-override;
      }

    label:hover,
    label:hover ~ label {
        color: orange;
      }

    input[type="radio"]:checked ~ label {
        color: orange;
      }


    /* Registered as Host*/

    .host-or-helper{
        background-image:url("../img/photo-header.jpeg");
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .host-or-helper h1{
        font-size:50px;
        color: white;
        text-decoration: none;
    }

    .host-or-helper h1 a{
        text-decoration: none;
        color: white;

    }

    .host-or-helper h1 a:hover{
        color: yellow;

    }

    /* Leave your comment*/

    .leave-your-comment {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 95%;
      margin-top: 18px;
    }

    .leave-your-comment textarea {
      padding: 10px;
      border-radius: 12px;
      width: 95%;
      height: 74px;
      border-color: #f7c53d;
      box-shadow: 1px 1px #8e7001;
    }

    .comment-button {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 12px;
    }

    .enviar-comentario {
      margin-top: 0;
      border-radius: 12px;
      box-shadow: 1px 1px #8e7001;
      font-size: 1.2em;
      font-weight: bold;
      width: 85%;
      height: 85%;
      background-color: #f7c53d;
      cursor: pointer;
    }


    /* Experiencias que ofrece */

    .places{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

    }

    .places h2{
        display: none;
    }

    .lugar{
        width:80%;
    }

    .lugar h4{
        font-weight: bolder;
        margin-bottom:10px;
        font-size: 1em;
    }

    .lugar img{
        width:90%;
        height:150px;


    }

    .lugar p{
        width: 90%;
    }

    /* Atributos de los usuarios */

    .botonera, :after, :before {
        box-sizing: border-box;
      }

      :focus {
        outline: none;
      }

      .botonera {
        margin: 1.3rem auto;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
      }

      .botonera-title {
        display: flex;
        justify-content: center;
        background-color: black;
        width: 100%;
        padding: 12px;
      }

      .botonera-title h2 {
        color: white;
      }

      .botonera i {
        margin-right: 12px;
      }

      button {
        overflow: visible;
        border: 0;
        padding: 0;
        margin: 1.8rem;
      }

      .btn.striped-shadow span {
        display: block;
        position: relative;
        z-index: 2;
        border: 5px solid;
      }

      .btn.striped-shadow.white span {
        border-color: black;
        color:black;
        background: yellow;
      }

      .btn{
        font-family: 'Bungee Shade', sans-serif;
        height: 80px;
        line-height: 65px;
        display: inline-block;
        letter-spacing: 1px;
        position: relative;
        font-size: 1.35rem;
        transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
        transition: opacity .3s, z-index .3s step-end, transform .3s;
        transition: opacity .3s,
          z-index .3s step-end,
          transform .3s,
          -webkit-transform .3s;
        z-index: 1;
        background-color: transparent;
        cursor: pointer;
      }

      .btn {
        width: 100%;
        height: 10%;
        line-height: 38px;
      }

      button.btn.striped-shadow.white:after, button.btn.striped-shadow.white:before {
        background-image: linear-gradient(
          135deg,
          transparent 0,
          transparent 5px,
          black 5px,
          black 10px,
          transparent 10px
        );
      }

      button.btn.striped-shadow:hover:before {
        max-height: calc(100% - 10px);
      }

      button.btn.striped-shadow:after {
        width: calc(100% - 4px);
        height: 8px;
        left: -10px;
        bottom: -9px;
        background-size: 15px 8px;
        background-repeat: repeat-x;
      }

      button.btn.striped-shadow:after, button.btn.striped-shadow:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        transition: max-height .3s, width .3s, -webkit-transform .3s;
        transition: transform .3s, max-height .3s, width .3s;
        transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
      }

      .btn.striped-shadow:hover {
        -webkit-transform: translate(-12px, 12px);
        -ms-transform: translate(-12px, 12px);
        transform: translate(-12px, 12px);
        z-index: 3;
      }

      button.btn.striped-shadow:hover:after, button.btn.striped-shadow:hover:before {
        -webkit-transform: translate(12px, -12px);
        -ms-transform: translate(12px, -12px);
        transform: translate(12px, -12px);
      }
      button.btn.striped-shadow:before {
        width: 8px;
        max-height: calc(100% - 5px);
        height: 100%;
        left: -12px;
        bottom: -5px;
        background-size: 8px 15px;
        background-repeat: repeat-y;
        background-position: 0 100%;
      }

    /* Comentarios de otros usuarios*/


    .footer-title {
      display: flex;
      justify-content: center;
      margin-bottom: 24px;
      background-color: black;
      padding: 6px;
    }

    .footer-title h3 {
      font-size: 1.6em;
      color: white;
    }

    footer .reviews{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    footer .reviews .comments{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 20px;

    }


    footer .reviews .comments p{
        color:black;
    }

    .comments img{
        border-radius: 100%;
        border: 1px white solid;
        width:80px;
        height:60px;
        margin-right:20px;


    }

}

@media (min-width: 768px){

  header nav {
    height: 49%;
    }

/* Registered as Host*/

.host-or-helper{
    background-image:url("../img/photo-header.jpeg");
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.host-or-helper h1{
    font-size:100px;
    color: white;
}

.lugar h4{
    font-weight: bolder;
    margin-bottom:10px;
    font-size: 3em;


}

.lugar img{
    width:90%;
    height:300px;
}

/* Titulos */

.botonera-title h2 {
  color: white;
  font-size: 1.9em;
  padding: 8px;
}

.footer-title h3 {
  font-size: 1.9em;
  color: white;
  padding: 10px;
}

/* Comentarios del Footer */

.footer {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  width: 100%;
}

.reviews {
  width: 100%;
  align-items: center;
  flex-direction: row;
}

.comments {
  width: 100%;
  margin-top: 12px;
  justify-content: center;
}

}

@media (min-width: 1200px){


  header nav {
    height: 73.9%;
    }

    .flex-container{
        display: flex;
        flex-direction: row;
        width:100%;
    }

    .from-image-to-host{
        display: flex;
        flex-direction: column;
        align-content: center;
        width:50%;
        margin-bottom: 40px;
        height: 50%;
        margin-left: 15px;
    }
    .container-img{
        display: flex;
        flex-direction: row;
        margin: 10px auto;


    }

    .imagen-perfil{
        border-radius: 100%;
        width: 200px;
        height: 200px;
        border: 1px black solid;
    }

    /* Datos Personales*/

    .datos-personales {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .datos-personales span {
      margin: 10px 0;
    }

    .datos-personales h2 {
        font-size: 2em;
        margin-bottom: 15px;
    }

    .datos-personales h3 {
      margin-bottom: 2px;
    }

    .datos-personales p {
        margin-left: 7px;
    }

    .datos-personales .clasificacion {
      margin-top: 10px;
    }

    .host-or-helper{
        background-image:url("../img/photo-header.jpeg");
        display: flex;
        flex-direction: row;
        border-radius: 500px;
        margin-top: 24px;
    }

    .host-or-helper h1{
        justify-content: center;
    }

    .clasificacion {
      font-size: 1.5em;
    }

    /* Experiencias que ofrece */

    .places h2{
        display: block;
        align-content:left;
        font-size: 3em;
        background:yellow;
    }

    .places{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 50%;
    }

    .lugar{
        width:80%;
    }

    /* Leave your comment*/

    .leave-your-comment {
      margin-top: 34px;
    }

    .leave-your-comment textarea {
      height: 150px;
    }

    .enviar-comentario {
      margin-top: 24px;
    }

    /* extender botonera */

    .botonera-container{
        position: absolute;
        top: 1020px;
        width: 50%;
    }

    .botonera-title {
      background: none;
      margin-top: 20px;
    }

    .botonera-title h2 {
      color: black;
    }

    .botonera{
      display: flex;
      width: 100%;
    }

    .botonera i {
      margin-right: 12px;
    }


    /* Footer se vuelve aside*/

    .footer-title {
      width: 99%;
      margin-top: 12px;
    }




}
